{
    "env": {
        "node": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
    },
    "rules": {
        "indent": ["error", 4],
        "semi": "error"
    },
  "extends": ["eslint:recommended"]
}
